
.conter {
  display: flex;
  justify-content: center;
}
.btn{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.counter{
  width: 40%;
}

.footer{
  display: flex;
  justify-content: center;
  color: #333;
  font-weight: 600;
}
.icon{
  margin-right: 10px;
}
.header{
  display: flex;
  justify-content: space-around;
 
}

.time {
  color: #333;
  font-size: 30px;
}

input{
  padding-left: 450px;
}
.barMenu{
  display: flex;
  padding: 10px;
  justify-content: center;
}

h1 {
  margin-right: 30px;
}
.inputContact{
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
.fromInput{
  
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.btnSend{
 margin-left: 400px;
}
.cardAbout{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.card{
  margin-right: 10px;
}

.disacription{
  height: 400px;
  margin: 10px;
}

.cardHome{
  display: flex;
}
.text{
  color: black;
  font-size: 20px;
  margin: 10px;
}
.gridRow{
display: flex;
justify-content: center;
}

.tabs{
  margin: 30px;
}
.ant-input-affix-wrapper > input.ant-input {
 margin-left: 480px;
}
.polt{
  display: flex;
  justify-content: center;
}
.pie{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
}
.allPolt{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
}